.card{
  width: '20rem';
  background-color: #F6E6CB;
  margin: 20px;
}

.mySwiper {
    width: 191.25px;
    height: 298.5px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-size: cover;
    padding-left: 10px;

  }
  
  .Swiperslide:nth-child(1n) {
    background-image: url("../img/book1.jpg");
    
  }
  
  .Swiperslide:nth-child(2n) {
    background-image: url("../img/book2.jpg");
  }
  
  .Swiperslide:nth-child(3n) {
    background-image: url("../img/book3.jpg");
  }
  
  .Swiperslide:nth-child(4n) {
    background-image: url("../img/book4.jpg");
  }
  
  .Swiperslide:nth-child(5n) {
    background-image: url("../img/book5.jpg");
  }
  
  .Swiperslide:nth-child(6n) {
    background-image: url("../img/book6.jpg");
  }
  
  .Swiperslide:nth-child(7n) {
    background-image: url("../img/book7.jpg");
  }
  
  .Swiperslide:nth-child(8n) {
    background-image: url("../img/book8.jpg");
  }
  
  .Swiperslide:nth-child(9n) {
    background-image: url("../img/book9.jpg");
  }
  
  .Swiperslide:nth-child(10n) {
    background-image: url("../img/book10.jpg");
  }
  



